.c-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    background-color: rgba(42, 190, 121, 0.734);
    backdrop-filter: blur(6px);
    font-weight: normal;
    &-item {
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 50px;
        color: #fff;
        margin-bottom: 40px;
        cursor: pointer;
        @media (max-width: 800px) {
            padding: 0 50px;
        }
        .mark {
            border: 30px solid transparent;
            display: none;
        }
        &.active {
            color: yellow;
            .mark {
                display: block;
                border-right: 30px solid yellow;
            }
        }
    }
    &-other {
        display: flex;
        align-items: center;
        font-size: 40px;
        color: #fff;
        margin-top: 120px;
        margin-left: 80px;
        &-item {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 50px;
            margin-bottom: 30px;
            img {
                width: 50px;
                height: auto;
                margin-right: 10px;
            }
        }
        @media (max-width: 800px) {
            margin-left: 50px;
            flex-wrap: wrap;
        }
    }
}
